<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="3" *ngFor="let category of categories">
          <ion-card mode="ios" routerLink="control/{{category.topic}}">
            <ion-card-content>
              <ion-item class="ion-text-center">
                <!--<ion-icon src="{{category.icon.name}}"></ion-icon>-->
                <ion-icon name="{{category.icon.name}}"></ion-icon>
              </ion-item>
              <ion-item class="ion-text-center">
                <ion-label>
                  <h1>{{category.name}}</h1>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
