<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites" (click)="click('favorites')">
      <ion-icon name="star-sharp"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rooms" (click)="click('rooms')">
      <ion-icon name="grid-sharp"></ion-icon>
      <ion-label>Rooms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" (click)="click('categories')">
      <ion-icon name="list-sharp"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
