/*
ion-tab-bar {
   --background: transparent;
   --ion-color-base: transparent !important;
   position: absolute;
   bottom: 0px;
   width: 100%;
   --color: white;
   ion-tab-button {
      --background: #transparent;
   }
}
*/