/*
ion-content{
  --background: linear-gradient(to bottom, rgba(155, 155, 155, 0.6) 0%,rgba(155,155,155,0.6) 100%), url('../../../assets/images/living-room.jpg')  no-repeat center center / cover;
}
*/
ion-card {
  margin: 0;
  border-radius: 10px;
}

ion-card-content {
  margin: 0;
  padding: 0;
}

ion-item {
  --inner-border-width: 0px;
  --padding-start: 10px;
  --padding-end: 3px;
  --inner-padding-end: 10px;
}

ion-label {
  h1 {
    font-size: 16px;
    line-height: 1.2;
  }  
  h2 {
    font-size: 16px;
    line-height: 1.2;
  }
}

ion-icon {
  margin: 0 auto;
  font-size: 32px;
  margin-top: 20px; // TODO vertial align
}
